<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
 	xmlns:gap="http://phonegap.com/ns/1.0"
 	id="br.fib.lp5.Aula1" Version="1.0.0">
  	<name>LP5-Aula1</name>
 	<description>LP5 Aula 1</description>
  	<author href="http://fibbauru.br"
 	email="allanrichard_silva@hotmail.com">
 	Allan
 </author>
	<preference name="orientation" value="portrait"> </preference>
	<preference name="fullscreen" value="true"> </preference>
	<preference name="permissions" value="none"> </preference>
	<preference name="android-minSdkVersion" value="16"> </preference>
	<icon src="imagens/icon.png"> </icon>
	<gap:splash src="imagens/splash.png"> </gap:splash>
	<platform name="android">
		<splash src="res/screen/android/splash-land-hdpi.png" density="land-hdpi"/>
		<splash src="res/screen/android/splash-land-ldpi.png" density="land-ldpi"/>
		<splash src="res/screen/android/splash-land-mdpi.png" density="land-mdpi"/>
		<splash src="res/screen/android/splash-land-xhdpi.png" density="land-xhdpi"/>

		<splash src="res/screen/android/splash-port-hdpi.png" density="port-hdpi"/>
		<splash src="res/screen/android/splash-port-ldpi.png" density="port-ldpi"/>
		<splash src="res/screen/android/splash-port-mdpi.png" density="port-mdpi"/>
		<splash src="res/screen/android/splash-port-xhdpi.png" density="port-xhdpi"/>
	</platform>
	<preference name="SplashScreenDelay" value="30000" />
	
</widget>