<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
 	xmlns:gap="http://phonegap.com/ns/1.0"
 	id="br.fib.lp5.Aula1" Version="1.0.0">
  	<name>LP5-Aula1</name>
 	<description>LP5 Aula 1</description>
  	<author href="http://fibbauru.br"
 	email="allanrichard_silva@hotmail.com">
 	Allan
 </author>
	<preference name="orientation" value="portrait">
	<preference name="fullscreen" value="true">
	<preference name="permissions" value="none">
	<preference name="android-minSdkVersion" value="16">
	<icon src="imagens/icon.png">
	<gap:splash src="imagens/splash.png">
</widget>